<article class="flex gap-6 flex-col-reverse  md:flex-row ">
    <div class="flex flex-col gap-y-4">
        <p class="text-base md:text-lg  text-pretty">
            Me llamo <span class="text-purple-400/90">Andrés</span>, soy un programador web full stack apasionado por crear applicaiones con muchas <span class="text-purple-400/90">funcionalidades</span>, apasionado por aprender lenguajes y freamworks webs.
            </p>
        <p class="text-base  md:text-lg text-pretty">
            <span class="text-purple-400/80 ">Actualmente</span> me encuentro realizando las practicas de una formación profesional en programación de lenguajes estructurados. En estas practicas estoy construyendo <span class="text-purple-400/80 ">una base de datos relacional</span> que se va a utilizar en la aplicación de la empresa.
        </p>
    </div>
    
    <img src="./Andres.jpeg" class="size-56 rotate-3 shadow-lg m-auto shadow-white/40 rounded-md object-cover" alt="Imagen de Andres Rodriguez">
</article>