

<footer class="rounded-lg shadow m-4 bg-black/20 backdrop-blur-lg xl:w-[1120px] mx-auto w-full">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">Andres</a>
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#Sobre mi" class="hover:underline me-4 md:me-6">Sobre mi</a>
        </li>
        <li>
            <a href="#Experiencia" class="hover:underline me-4 md:me-6">Experiencia</a>
        </li>
        <li>
            <a href="#Proyectos" class="hover:underline me-4 md:me-6">Proyectos</a>
        </li>
      
    </ul>
    </div>
</footer>
