---
import Css from "../icons/Css.astro";
import Html from "../icons/Html.astro";
import Js from "../icons/Js.astro";
import Php from "../icons/Php.astro";
import Sql from "../icons/Sql.astro";
import React from "../icons/React.astro";
import Tailwind from "../icons/Tailwind.astro";
import Node from "../icons/Node.astro";


---

<article class="flex flex-row w-full justify-around">

<div class="flex flex-col gap-5">
<Html class="size-16 hover:scale-110 transition"></Html>
<Php class="size-16 hover:scale-110 transition"></Php>
<Js class="size-16 hover:scale-110 transition"></Js>

</div>
<div class="flex flex-col gap-5">
<Css class="size-16 hover:scale-110 transition"></Css>
<Sql class="size-16 hover:scale-110 transition"></Sql>
<Node class="size-16 hover:scale-110 transition"></Node>
</div>
<div class="flex flex-col gap-5">
<React class="size-16 hover:scale-110 transition"></React>
<Tailwind class="size-16 hover:scale-110 transition"></Tailwind>
</div>

    
</article>