---
interface Props {
	title: string;
}
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
const { title } = Astro.props;
import "@fontsource-variable/onest"


---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body >
		<div class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
		
		<Header/>
		<slot />
		<Footer></Footer>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: "Onest Variable",system-ui, sans-serif;	
		scroll-behavior: smooth;
			
	}
	

	body{
		min-height: 100vh;
		background: #0a0a0a;
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
		
	}
</style>
