---
interface Props {
	title: string;
}
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
const { title } = Astro.props;
import "@fontsource-variable/onest"
import { Analytics } from '@vercel/analytics/next';


---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body >
		<div class="relative h-full w-full bg-slate-950"><div class="absolute bottom-0 left-[-20%] right-0 top-[-10%] h-[500px] md:w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"></div><div class="absolute bottom-0 right-[-20%] top-[-10%] h-[500px] md:w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"></div></div>
		
		<Header/>
		<slot />
		<Analytics />
		<Footer></Footer>
	</body>
</html>
<style is:global>
	
	html {
		font-family: "Onest Variable",system-ui, sans-serif;	
		scroll-behavior: smooth;
			
	}
	

	body{
		min-height: 100vh;
		background: #0a0a0a;
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
		
	}
</style>
